.container {
    display: flex;
    justify-content: center;
}

.mapContainer {
    height: 80vh;
    width: 70vw;
}

@media screen and (max-width: 400px) {
    .mapContainer {
        width: 100%;
    }
}

@media screen and (max-height: 820px) {
    .mapContainer {
        height: 100%;
    }
    .container {
        height: 90vh;
    }
}