.container {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.mapContainer {
    flex: 2;
}

@media screen and (max-width: 400px) {
    .container {
        height: 86.8vh;
    }
    .mapContainer {
        width: 100%;
    }
    .infoContainer {
        flex: 0;
    }
}

@media screen and (max-height: 820px) {
}