.homeContainer {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: blue;
}

.swipeMenu {
    background-color: #fff;
    position: absolute;
    overflow: hidden;
    bottom: 0;
    width: 100%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.smLow {
    height: 10vh;
}

.smHigh {
    height: 90vh;

}